/out/**/*.h
/out/**/*.a
/out/**/*.so
.idea/
.build/

target
.env
app/MNGA.xcodeproj/**/xcuserdata/*.xcuserdatad/

GoogleService-Info.plist

.DS_Store

# fastlane specific
**/fastlane/report.xml

# deliver temporary files
**/fastlane/Preview.html

# snapshot generated screenshots
**/fastlane/screenshots

# scan temporary files
**/fastlane/test_output
