--indent 2
--swift-version 6.2
--language-mode 5

--exclude app/Shared/Protos/*
--exclude app/Derived/**/*
--exclude app/Project.swift

--enable environmentEntry
--enable redundantProperty
--enable unusedPrivateDeclarations
--enable wrapEnumCases
--enable wrapSwitchCases
