on: [push, pull_request]
name: Logic

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    env:
      AUTH_DEBUG_UID: ${{ secrets.LOGIC_AUTH_DEBUG_UID }}
      AUTH_DEBUG_TOKEN: ${{ secrets.LOGIC_AUTH_DEBUG_TOKEN }}
    steps:
      - uses: actions/checkout@v2
      - uses: arduino/setup-protoc@v1
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - name: Cargo check
        uses: actions-rs/cargo@v1
        with:
          command: check
